<div class="container pt-4 px-4">
    <div class="row g-4">

        <div class="col-sm-12 ">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Add Baner</h6>
                <form action="/admin/addBaner" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="name" placeholder="Name">


                    </div>

                    <div class="mb-3 mt-3">
                        <label for="formFileMultiple" class="form-label">Images</label>
                        <input class="form-control bg-dark" type="file" name="image">
                    </div>
                     <div class="mb-3 mt-3">
                        <label for="formFileMultiple" class="form-label">Images</label>
                        <input class="form-control bg-dark" type="file" name="image">
                    </div>
                     <div class="mb-3 mt-3">
                        <label for="formFileMultiple" class="form-label">Images</label>
                        <input class="form-control bg-dark" type="file" name="image">
                    </div>

                    <button type="submit" class="btn btn-success">
                        Submit
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>