{{!-- <div class="col-sm-6 col-xl-12">
  <div class="container-fluid mt-5">
    <div class="container-fluid mt-5">
      <div class=" rounded h-100 p-4">

        <div class="container ">

          <form action="/admin/generate-coupon" method="POST">


            <div class="mt-5 mb-3">
              <label for="" class="form-label">Coupon label</label>
              <input type="text" class="form-control" name="name" id="exampleInputUsername">
            </div>
            <div class="mt-5 mb-3">
              <label for="" class="form-label">Offer</label>
              <input type="text" class="form-control" name="offer" id="exampleInputUsername">
            </div>
            <div class="mt-5 mb-3">
              <label for="" class="form-label">Validity</label>
              <input type="text" class="form-control" name="validity" id="exampleInputUsername">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div> --}}


<div class="container pt-4 px-4">
    <div class="row g-4">

        <div class="col-sm-12 ">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Add Coupon</h6>
                <form action="/admin/postGenerateCoupon" method="post"  class="form-horizontal">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="name" placeholder="NAME">
                        <label for="floatingInput">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingPassword" name="offer" nplaceholder="offer">
                        <label for="floatingPassword">offer</label>
                    </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingPassword" name="validity" nplaceholder="validity">
                        <label for="floatingPassword">validity</label>
                    </div>
                   
                     
                    <button type="submit" class="btn btn-success">
                        Submit
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
