<div class="container mt-5 pt-5">
    <center class="mt-5 pt-5">

        <img src="https://img.freepik.com/free-vector/order-confirmed-concept-illustration_114360-1449.jpg?w=740&t=st=1659343862~exp=1659344462~hmac=62e48efbfb48d001cb2785b1f37199167a0a4f4179e78b139d67d537c7d99c78"
            alt="" style="width:300px"><br>
       
        <h2 style="color: green;">YOUR ORDER PLACED SUCCESSFULLY</h2>

         <a class="btn btn-succes" href="/vieworders" style="margin-top: 17px; color: green; border: solid green;">VIEW ORDERS
            </a>
    </center>
</div>