<section class="vh-100 "
  style="background-image: url('images/beauty.webp'); background-repeat: no-repeat;  background-attachment: fixed; background-size: 100% 100%;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex  align-items-center h-100 ">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px; max-width: 400px;">
            <div class="card-body p-5 " >
              <h2 class="text-uppercase text-center mb-5">Login</h2>
              {{!-- {{#if signup}}
              <p class="text-danger"><b>{{signup}}</b></p>
              {{/if}}
               --}}

              <form  id="login" action="/otppost" method="post">

                <div class="form-outline mb-4">
                  <input type="number" name="otp" id="form3Example4cdg" class="form-control form-control-lg"  placeholder="OTP" />
                  {{!-- <label class="form-label" for="form3Example4cdg">Password</label> --}}
                </div>


                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">validate</button>
                    
                </div>
              
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>